.profile{
    .appbar{
        background-color: white;
        color: blue;
    }
    .header-icon-items{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}